* {
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "warcraft", sans-serif;
    cursor: url(./images/Warcraft\ Cursors_Undead.cur), default;
}

.wrapper {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    background-color: transparent;
}

.btn {
    cursor: pointer;
    height: 50px;
    width: auto;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

.header {
    text-align: center;
}

h1 {
    color: white;
    margin-top: 20px;
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

#add-btn {
    float: right;
}

ul {
    margin: 0 auto;
    width: 500px;
    list-style: none;
    text-align: center;
}

li {
    border-radius: 10px;
    margin-top: 20px;
    height: 30px;
    background-color: rgb(252, 86, 86);
    list-style: none;
    font-size: 20px;
    color: white;
}

.del {
    text-align: center;
    height: 25px;
    width: 30px;
    float: right;
    padding-top: 5px;
    transition: 0.3s;
}

.del:hover {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    background-color: rgb(41, 15, 160);
}

.cb {
    height: 100%;
    width: 30px;
    float: left;
    border: none;
}

.security {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    position: absolute;
    top: -5%;
    width: 75%;
    right: 12.5%;
    overflow: hidden;
    background-color: rgb(163, 5, 5);
}

#security-bar {
    height: 10px;
    width: 0;
    background-color: rgb(51, 0, 192);
    transition: 2s;
}

.completed {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    position: absolute;
    top: 90%;
    width: 75%;
    right: 12.5%;
    overflow: hidden;
    background-color: rgb(51, 0, 192);
}

#completed-bar {
    height: 10px;
    width: 0;
    background-color: rgb(158, 13, 13);
    transition: 2s;
}

#input {
    padding-right: 50px;
    height: 45px;
    margin-right: 50px;
    margin-left: 50px;
    cursor: url(./images/Warcraft\ Cursors_Human.cur), default;
    outline: none;
}

.btn2 {
    margin-right: 20px;
}

.list-task {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

h2 {
    color: white;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

#vid {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

.btn {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: linear-gradient(to bottom, #045cff 5%, #014599 100%);
    background-color: #7892c2;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 12px 27px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
    cursor: url(./images/Warcraft\ Cursors_Orc.cur), default;
}

.btn:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
}

.btn:active {
    position: relative;
    top: 1px;
}

.war3 {
    border: 3px solid rgb(0, 0, 80);
    background-color: rgb(103, 77, 247);
    border-radius: 15px;
    border-width: 4px;
    font-size: 22px;
    color: azure;
}

.edTodo {
    width: 80%;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: transparent;
    outline: none;
    border: none;
    color: black;
}

li.new-item {
    opacity: 0;
    animation: fadeIn 0.3s linear forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

li.removed-item {
    animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    /*transform origin is moved to the bottom left corner*/
    transform-origin: 0% 100%;
}

@keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: rotateZ(0);
    }
    100% {
        opacity: 0;
        transform: translateY(600px) rotateZ(90deg);
    }
}